@import "../../Variables/Variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}

.headers > * {
  font: 400 18px/20px Helvetica, Verdana, Tahoma;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom > * {
  font-size: 14px;
}

.bottom > span {
  color: grey;
}

.help > * {
  color: $blue
}
